<!--
    Description: The info dialog template that displays application description and credit.
    Date: August 14, 2022
-->

<h1>Application Description</h1>
<p>This application is made for Assignment 4: World Nations. <br>
  It displays 239 countries in cards with the country flags. It opens the information of selected country when the user
  clicks on the card. The country information includes Country Code, Continent, Region, Surface Area, Population, and
  the map.
</p>

<h1>Credit</h1>
<p>Assignment from Professor Song Ho Ahn <br>
  Created by Mihye Bang
</p>

<mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>